% extends "base.html"
% block content 
<a href="{{ url_for('newMenuItem', restaurant_id = restaurant_id) }}" class="uk-button uk-button-default">Add Item to Menu</a>
</br>
</br>
% if items
	% for item in items 
		<h2>{{item.name}}</h2>
		<a href="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = item.id) }}">Edit Menu Item</a>
		<a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = item.id) }}">Delete Menu Item</a>
		<p>Course: {{item.course}}</p>
		<p>Price: {{item.price}}</p>
		<p>Description: {{item.description}}</p>
		</br>
		</br>
	% endfor
% endif
% if not items
	<p>There are currently no menu items to display</p>
% endif
<a href="#">Add a menu item</a>
% endblock